on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
jobs:
    go-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-go@v6
              with:
                go-version: '^1.23.3'

            - run: go build -v ./...
              working-directory: ./go

            - run: go test -v ./...
              working-directory: ./go