on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
jobs:
    java-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-java@v4
              with:
                java-version: '21'
                distribution: 'temurin'
            - run: mvn --batch-mode --update-snapshots verify
              working-directory: ./java-solutions
